<%- include('../partials/header') %> 


<form id="new-form" action="/players" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Teams:</label>
    <input type='text' name='teams'>
    <label>Rings:</label>
    <input type='text' name='rings'>
    <label>Active:</label>
    <input type='checkbox' name='activePlayer'>
    <input type="submit" value="ADD PLAYER">
  </form>